$bgcolor: #c5c3c3;
$mute-color: hsl(0, 3, 20, 40%);
$bg-button: #a7a5a5;
$primary-color: #353232;
$side-bar: 64px;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

// main
input {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1rem;
  padding: 2px 3px 2px 3px;
}
input:focus {
  outline: none;
}
body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1rem;
  color: $primary-color;
  padding: 1rem $side-bar 1rem $side-bar;
  margin: 0;
  box-sizing: border-box;
  background-color: $bgcolor;
}

.header {
  display: flex;
  background-color: green;
  height: 32px;
  &__social {
    display: flex;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  &__icon {
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    &--top {
      margin-top: 0.5rem;
    }
  }
}

.content {
  &__title {
    margin: 12px 0 12px 0;
  }

  &__main {
    display: flex;
    gap: 1rem;

    &--icons {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    height: 40px;

    input {
      color: $mute-color;
      width: 148px;
      height: 24px;
      border-radius: 4px;
      border: 2px solid $primary-color;
      background-color: $bgcolor;
    }

    select {
      background-color: red;
      height: 24px;
      width: 148px;
    }

    &--mute {
      color: $mute-color;
      input {
        border: 2px solid $mute-color;
      }
    }
  }

  &__button {
    margin-top: 2rem;
    button {
      font-family: 'Space Mono', monospace;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 6px;
      font-size: 16px;
      background-color: $bg-button;
      border: none;
      border-radius: 4px;
      height: 34px;
      width: 164px;
      box-shadow: 3px 3px 0 0 $primary-color;
      cursor: pointer;
      // transition: transform 0.2s ease, box-shadow 0.2s ease;
      transition: 0.1s ease;
    }
    button:hover {
      // transition: 0.2s ease;
      transform: translate(3px, 3px);
      box-shadow: 0px 0px 0 0 $primary-color;
    }
  }
}

.select {
  position: relative;
  display: inline-block;
  // &__select {
  //   display: none;
  // }
  &__selected {
    background-color: $bgcolor;
    color: $mute-color;
    width: 156px;
    height: 26px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    cursor: pointer;
  }

  &__items {
    cursor: pointer;
    border-bottom: 2px solid $primary-color;
    &:hover {
      background-color: red;
    }
  }

  &__items {
    position: absolute;
    z-index: 99;
    width: 100%;
    overflow-y: auto;
    display: none;
    max-height: 200px;
  }
}

.select__selected.select-arrow-active + .select__items {
  display: block;
}

.icon {
  svg {
    color: $primary-color;
  }
}
