// aside

.box {
  width: 100%;
  height: fit-content;
  border: 1px solid $border-muted;
  border-radius: 6px;
  &__header {
    color: $text-primary;
    font-weight: $semibold;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.8rem 0.8rem;
    background-color: $card-0;
    border-bottom: 1px solid $border-muted;
    &--icon {
      color: $text-secondary;
      width: 19px;
      height: 19px;
    }
  }
  &__posts {
    padding: 0.8rem 0.8rem;
    font-size: 12px;
    font-weight: $semibold;
    border-bottom: 1px solid $border-muted;
    display: flex;
    gap: 5px;
    &--last {
      border-bottom: none;
    }
  }
  &__post-icons {
    padding-top: 2px;
    color: $text-secondary;
  }
  &__post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
    &--link-title {
      font-weight: $semibold;
    }
  }
  &__down {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__down-item {
    display: flex;
    align-items: center;
    color: $text-secondary;
    font-size: 12px;
    gap: 3px;
  }
}
