// button
.btn-primary {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  height: 36px;
  width: 132px;
  border-radius: 6px;
  background-color: #a7a5a5;
  box-shadow: 3px 3px #353232;
  transition: 0.15s ease;
  &:hover {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0 0 #353232;
  }
  &:active {
    background-color: #b4b3b3;
  }
}

.btn-click {
  cursor: pointer;
  height: 31px;
  width: 31px;
  border-radius: 6px;
  background-color: $bgcolor;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.07s ease;
  &--minus {
    padding-bottom: 0.2rem;
  }
  &:hover {
    background-color: $primary-color;
    color: $bgcolor;
  }
  &:active {
    background-color: $bgcolor;
  }
}
