// dropdown
// .tippy-content {
//   padding: 0;
// }
// .tippy-box {
//   // width: 100%;
//   background-color: $card-0;
//   box-shadow: 1px 4px 6px $theme-dark-bg;
// }
// .tippy-arrow {
//   color: red;
//   border: 1px solid $border-muted;
// }
.dropdown {
  position: relative;
  &__menus {
    position: absolute;
    z-index: 99;
    margin-top: 0.7rem;
    color: $text-secondary;
    background-color: $card-0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $dropdown-border;
    border-radius: 4px;
    box-shadow: 2px 2px 6px $black;
    transition: 0.2s ease;
    &::before {
      content: "";
      border: 8px solid transparent;
      border-bottom-color: $dropdown-border;
      position: absolute;
      top: -16px;
      right: 7px;
    }
    &::after {
      content: "";
      border: 7px solid transparent;
      border-bottom-color: $card-0;
      position: absolute;
      top: -14px;
      right: 8px;
    }
  }
  &__menu {
    font-weight: $semibold;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      color: $text-primary;
    }
  }
  &__input {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 12px;
    font-weight: 600;
    color: $text-secondary;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-border;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    &:hover {
      transition: 0.3 ease;
      color: $dropdown-hover-text;
      background-color: $dropdown-hover-bg;
    }
  }
  &__value {
    color: $dropdown-text;
    display: flex;
    align-items: center;
    gap: 4px;
    &::after {
      content: "";
      margin-top: 6px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $text-primary;
    }
  }
}
