.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__desc {
    h1 {
      font-size: 28px;
    }
    p {
      padding-top: 1rem;
      width: 464px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__btn-wrapper {
    padding-top: 1.8rem;
    background-color: yelllow;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--logo {
    }
  }
}
