// container
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &--form {
    @extend .container;
    flex-direction: row;
  }

  &--about {
    @extend .container;
    flex-direction: column;
    width: 432px;
    p {
      font-size: 14px;
    }
  }

  &--ads {
    @extend .container;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
  }
}

.box {
  &--horizontal {
    width: 300px;
    height: 164px;
    background-color: gray;
    border-radius: 4px;
  }

  &--vertical {
    width: 300px;
    height: 280px;
    background-color: gray;
  }

  &--input {
    background-color: red;
  }

  &--title {
    color: blue;
  }
}
