// container
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  &--form {
    // @extend .container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5rem 0 0;
  }

  &--about {
    @extend .container;
    padding: 1rem 2.5rem 0 0;
    p {
      font-size: 14px;
    }
  }

  &--ads {
    @extend .container;
    width: 300px;
    gap: 1rem;
  }
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__164 {
    padding: 1rem;
    width: 300px;
    height: 164px;
    background-color: gray;
    border-radius: 6px;
    h1 {
      line-height: 32px;
    }
    p {
      font-size: 12px;
    }
  }

  &__280 {
    width: 300px;
    height: 280px;
    border-radius: 6px;
    background-color: gray;
  }
}
