// container
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  // max-width: 1132px;
  @include media('<=440px') {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  @include media('>=764px', '<1210px') {
    width: 100%;
    gap: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  // background-color: red;
  @include media('<=440px') {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &--header {
    @extend .container;
  }
  &--content {
    display: flex;
    background-color: red;
    gap: 1rem;
    @include media('<=440px') {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @include media('>=764px', '<1210px') {
      width: 100%;
    }
  }
  &--footer {
    @extend .container;
    padding-top: 2rem;
  }
  &--280 {
    @extend .container;
    // width: 300px;
    // width: 18.75rem;
    width: 17.5rem;
    @include media('<=440px') {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @include media('>=764px', '<1210px') {
      width: 35%;
    }
  }
  &--836 {
    @extend .container;
    // width: 816px;
    // 836px
    width: 52.25rem;
    @include media('<=440px') {
      width: 100%;
    }
    @include media('>=764px', '<1210px') {
      width: 65%;
    }
  }
  &--200 {
    @extend .container;
    width: 200px;
    @include media('<=440px') {
      width: 100%;
    }
  }
  &--916 {
    @extend .container;
    width: 916px;
    // width: 52.25rem;
    @include media('<=440px') {
      width: 100%;
    }
  }
}

.wrapper {
  display: flex;
  gap: 1rem;
  &--search {
    display: none;
    @include media('<=440px') {
      display: flex;
      width: 100%;
    }
  }
  &--box-s {
    @extend .wrapper;
    @include media('<=440px') {
      display: flex;
      gap: 0;
    }
  }
  &--wrap {
    @extend .wrapper;
    flex-wrap: wrap;
  }
  &--center {
    @extend .wrapper;
    justify-content: center;
    align-items: center;
  }
  &--cat {
    @extend .wrapper;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $border-muted;
  }
  &--col-carpo {
    @extend .wrapper;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 210px;
    height: 100%;
    gap: 0.2rem;
    &--search {
      @extend .wrapper--col-carpo;
      width: 230px;
      height: 100%;
    }
    @include media('<=440px') {
      width: 100%;
      height: 100%;
    }
  }
  &--col {
    @extend .wrapper;
    gap: 0;
    flex-direction: column;
  }
  &--row {
    @extend .wrapper;
    gap: 0;
  }
  &--spc-between {
    @extend .wrapper;
    justify-content: space-between;
    align-items: center;
  }
  &--singleabout {
    @extend .wrapper;
    gap: 0;
    width: 130px;
    flex-direction: column;
  }
  &--singletags {
    @extend .wrapper;
    gap: 0;
    width: 185px;
    flex-direction: column;
  }
}
