@import './form';
@import '../helpers/variable';

.file {
  @extend .form;
  &__title {
    @extend .detail__title;
  }

  &__container {
    height: 188px;
    padding-top: 0.8rem;
  }

  &__list {
    @extend .form;
    justify-content: flex-start;
    padding-left: 0.5rem;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
  }

  &__dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $primary-color;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2px;

    &::before {
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: $primary-color;
      z-index: -3;
      position: absolute;
    }

    &--last {
      &::before {
        height: 0px;
        width: 0px;
      }
    }
  }
}
