// git color
// @import "git-colors";
// black & white
$black: #010409;
$white: #ffffff;
// gray
$gray-0: #f0f6fc;
$gray-1: #c9d1d9;
$gray-2: #b1bac4;
$gray-3: #8b949e;
$gray-4: #6e7681;
$gray-5: #484f58;
$gray-6: #30363d;
$gray-7: #21262d;
$gray-8: #161b22;
$gray-9: #0d1117;
// blue
$blue-0: #cae8ff;
$blue-1: #a5d6ff;
$blue-2: #79c0ff;
$blue-3: #58a6ff;
$blue-4: #388bfd;
$blue-5: #1f6feb;
$blue-6: #1158c7;
$blue-7: #0d419d;
$blue-8: #0c2d6b;
$blue-9: #051d4d;
// green
$green-0: #aff5b4;
$green-1: #7ee787;
$green-2: #56d364;
$green-3: #3fb950;
$green-4: #2ea043;
$green-5: #238636;
$green-6: #196c2e;
$green-7: #0f5323;
$green-8: #033a16;
$green-9: #04260f;
// yellow
$yellow-0: #f8e3a1;
$yellow-1: #f2cc60;
$yellow-2: #e3b341;
$yellow-3: #d29922;
$yellow-4: #bb8009;
$yellow-5: #9e6a03;
$yellow-6: #845306;
$yellow-7: #693e00;
$yellow-8: #4b2900;
$yellow-9: #341a00;
// orange
$orange-0: #ffdfb6;
$orange-1: #ffc680;
$orange-2: #ffa657;
$orange-3: #f0883e;
$orange-4: #db6d28;
$orange-5: #bd561d;
$orange-6: #9b4215;
$orange-7: #762d0a;
$orange-8: #5a1e02;
$orange-9: #3d1300;
// red
$red-0: #ffdcd7;
$red-1: #ffc1ba;
$red-2: #ffa198;
$red-3: #ff7b72;
$red-4: #f85149;
$red-5: #da3633;
$red-6: #b62324;
$red-7: #8e1519;
$red-8: #67060c;
$red-9: #490202;
// purple
$purple-0: #eddeff;
$purple-1: #e2c5ff;
$purple-2: #d2a8ff;
$purple-3: #bc8cff;
$purple-4: #a371f7;
$purple-5: #8957e5;
$purple-6: #6e40c9;
$purple-7: #553098;
$purple-8: #3c1e70;
$purple-9: #271052;
// pink
$pink-0: #ffdaec;
$pink-1: #ffbedd;
$pink-2: #ff9bce;
$pink-3: #f778ba;
$pink-4: #db61a2;
$pink-5: #bf4b8a;
$pink-6: #9e3670;
$pink-7: #7d2457;
$pink-8: #5e103e;
$pink-9: #42062a;
// coral
$coral-0: #ffddd2;
$coral-1: #ffc2b2;
$coral-2: #ffa28b;
$coral-3: #f78166;
$coral-4: #ea6045;
$coral-5: #cf462d;
$coral-6: #ac3220;
$coral-7: #872012;
$coral-8: #640d04;
$coral-9: #460701;

$joni: #0d1117;
// theme
$theme-dark-bg: $gray-9;

// text
$text-primary: $gray-1;
$text-secondary: $gray-3;
$text-link: $blue-3;

// border
$border-default: $gray-6;
$border-muted: $gray-7;
$border-subtle: rgba(240, 246, 252, 0.1);

// cards
$card-0: $gray-8;
$card-1: $gray-7;

// input
$input-text: $text-secondary;
$input-placeholder-text: $gray-4;
$input-focus-text: $text-primary;
$input-bg: $gray-8;
$input-shadow: 0 0 0 1px;

// dropdown
$dropdown-text: $text-primary;
$dropdown-bg: $gray-8;
$dropdown-border: $gray-6;
$dropdown-shadow: rgba(1, 4, 9, 0.3);
$dropdown-hover-text: $text-primary;
$dropdown-hover-bg: $gray-6;

// btn
$btn-blue-hover: rgba(88, 166, 255, 15%);

// fonts size
$small: 12px;
$medium: 14px;
$large: 20px;

// fonts weight
$normal: 400;
$semibold: 500;

// padding container
$padding-theme: 3.75rem;
