$color-1: #d9d9d9;
$color-2: #c5c3c3;
$color-3: #a7a5a5;
$color-4: #353232;
$color-5: black;

$bgcolor: $color-2;
$border: $color-3;
$mute-color: gray;

$primary-color: $color-4;
$secondary-color: gray;

$btn-color: $color-3;
