@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

input {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  padding: 2px 3px 2px 3px;
}

input:focus {
  outline: none;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  color: #353232;
  padding: 1rem 64px 1rem 64px;
  margin: 0;
  box-sizing: border-box;
  background-color: #c5c3c3;
}

.header {
  display: flex;
  background-color: green;
  height: 32px;
}
.header__social {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.wrapper__icon {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
}
.wrapper__icon--top {
  margin-top: 0.5rem;
}

.content__title {
  margin: 12px 0 12px 0;
}
.content__main {
  display: flex;
  gap: 1rem;
}
.content__main--icons {
  flex-direction: column;
  gap: 0.2rem;
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content__input {
  display: flex;
  flex-direction: column;
  height: 40px;
}
.content__input input {
  color: hsla(0, 3%, 20%, 0.4);
  width: 148px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid #353232;
  background-color: #c5c3c3;
}
.content__input--mute {
  color: hsla(0, 3%, 20%, 0.4);
}
.content__input--mute input {
  border: 2px solid hsla(0, 3%, 20%, 0.4);
}
.content__button {
  margin-top: 3rem;
}
.content__button button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 16px;
  background-color: #a7a5a5;
  border: none;
  border-radius: 4px;
  height: 34px;
  width: 164px;
  box-shadow: 3px 3px 0 0 #353232;
  cursor: pointer;
  transition: 0.1s ease;
}
.content__button button:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0 0 #353232;
}

.select {
  position: relative;
  display: inline-block;
}
.select__selected {
  background-color: #c5c3c3;
  color: hsla(0, 3%, 20%, 0.4);
  width: 156px;
  height: 26px;
  border: 2px solid #353232;
  border-radius: 4px;
  cursor: pointer;
}
.select__items {
  cursor: pointer;
  border-bottom: 2px solid #353232;
}
.select__items:hover {
  background-color: #c5c3c3;
  color: hsla(0, 3%, 20%, 0.4);
}
.select__items {
  position: absolute;
  z-index: 99;
  width: 100%;
  overflow-y: auto;
  display: none;
  max-height: 200px;
}

.select__selected.select-arrow-active + .select__items {
  display: block;
}

.icon svg {
  color: #353232;
}

/*# sourceMappingURL=main.css.map */
