@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/*
Nomoran project
author: adnanmugu 
url: https://www.github/adnanmugu
adnanmugu@2024
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: #c5c3c3;
  color: #353232;
  max-width: 1132px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button,
input {
  border: none;
  outline: none;
}

input {
  font-family: "Space Mono", monospace;
}
input:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
  transition: 0.2s ease;
}
a:hover {
  color: #353232;
}

.btn-primary {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  height: 36px;
  width: 132px;
  border-radius: 6px;
  background-color: #a7a5a5;
  box-shadow: 3px 3px #353232;
  transition: 0.15s ease;
}
.btn-primary:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0 0 #353232;
}
.btn-primary:active {
  background-color: #b4b3b3;
}

.container, .container--ads, .container--about {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container--form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5rem 0 0;
}
.container--about {
  padding: 1rem 2.5rem 0 0;
}
.container--about p {
  font-size: 14px;
}
.container--ads {
  width: 300px;
  gap: 1rem;
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ads__164 {
  padding: 1rem;
  width: 300px;
  height: 164px;
  background-color: gray;
  border-radius: 6px;
}
.ads__164 h1 {
  line-height: 32px;
}
.ads__164 p {
  font-size: 12px;
}
.ads__280 {
  width: 300px;
  height: 280px;
  border-radius: 6px;
  background-color: gray;
}

.header, .header__link, .header__wrapper {
  height: 32px;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header a, .header__link a, .header__wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.header__wrapper {
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 600;
}
.header__link {
  gap: 0.5rem;
}
.header__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form, .file__list, .file, .detail, .form__title, .detail__title, .file__title, .form--wrapper, .form--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form--container {
  flex-direction: row;
  gap: 2rem;
  height: 188px;
}
.form--wrapper {
  gap: 0.3rem;
}
.form__title, .detail__title, .file__title {
  justify-content: flex-start;
  height: 28px;
  font-size: 28px;
  width: 100%;
}
.form__title input, .detail__title input, .file__title input {
  font-size: 28px;
  width: 100%;
  height: 28px;
  background-color: transparent;
  font-weight: 700;
  color: black;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form__input input {
  padding: 0 6px 0 6px;
  width: 164px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #353232;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}
.form__input select {
  height: 30px;
  font-size: 14px;
  width: 164px;
  border-radius: 4px;
  border: 2px solid #353232;
  color: gray;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  padding: 0 6px 0 6px;
  background-color: transparent;
}
.form__input select option {
  background-color: #c5c3c3;
  border: 2px solid #353232;
  border-radius: 4px 4px 4px 4px;
}
.form__input select option:hover {
  background-color: red;
}
.form__input select option:active {
  background-color: blue;
}
.form__input--mute {
  color: hsla(0, 3%, 20%, 0.4);
}
.form__input--mute input {
  border: 2px solid hsla(0, 3%, 20%, 0.4);
}
.form__icons {
  display: flex;
  flex-direction: column;
  background-color: red;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.form__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.form, .file__list, .file, .detail, .form--container, .form--wrapper, .form__title, .detail__title, .file__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form--container {
  flex-direction: row;
  gap: 2rem;
  height: 188px;
}
.form--wrapper {
  gap: 0.3rem;
}
.form__title, .detail__title, .file__title {
  justify-content: flex-start;
  height: 28px;
  font-size: 28px;
  width: 100%;
}
.form__title input, .detail__title input, .file__title input {
  font-size: 28px;
  width: 100%;
  height: 28px;
  background-color: transparent;
  font-weight: 700;
  color: black;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form__input input {
  padding: 0 6px 0 6px;
  width: 164px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #353232;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}
.form__input select {
  height: 30px;
  font-size: 14px;
  width: 164px;
  border-radius: 4px;
  border: 2px solid #353232;
  color: gray;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  padding: 0 6px 0 6px;
  background-color: transparent;
}
.form__input select option {
  background-color: #c5c3c3;
  border: 2px solid #353232;
  border-radius: 4px 4px 4px 4px;
}
.form__input select option:hover {
  background-color: red;
}
.form__input select option:active {
  background-color: blue;
}
.form__input--mute {
  color: hsla(0, 3%, 20%, 0.4);
}
.form__input--mute input {
  border: 2px solid hsla(0, 3%, 20%, 0.4);
}
.form__icons {
  display: flex;
  flex-direction: column;
  background-color: red;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.form__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.detail__title, .file__title {
  align-items: flex-start;
  justify-content: center;
}
.detail__container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 188px;
  padding-top: 1rem;
}
.detail__icon {
  color: #353232;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.form, .file__list, .file, .form--container, .form--wrapper, .form__title, .detail, .detail__title, .file__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form--container {
  flex-direction: row;
  gap: 2rem;
  height: 188px;
}
.form--wrapper {
  gap: 0.3rem;
}
.form__title, .detail__title, .file__title {
  justify-content: flex-start;
  height: 28px;
  font-size: 28px;
  width: 100%;
}
.form__title input, .detail__title input, .file__title input {
  font-size: 28px;
  width: 100%;
  height: 28px;
  background-color: transparent;
  font-weight: 700;
  color: black;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form__input input {
  padding: 0 6px 0 6px;
  width: 164px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #353232;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}
.form__input select {
  height: 30px;
  font-size: 14px;
  width: 164px;
  border-radius: 4px;
  border: 2px solid #353232;
  color: gray;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  padding: 0 6px 0 6px;
  background-color: transparent;
}
.form__input select option {
  background-color: #c5c3c3;
  border: 2px solid #353232;
  border-radius: 4px 4px 4px 4px;
}
.form__input select option:hover {
  background-color: red;
}
.form__input select option:active {
  background-color: blue;
}
.form__input--mute {
  color: hsla(0, 3%, 20%, 0.4);
}
.form__input--mute input {
  border: 2px solid hsla(0, 3%, 20%, 0.4);
}
.form__icons {
  display: flex;
  flex-direction: column;
  background-color: red;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.form__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.file__container {
  height: 188px;
  padding-top: 0.8rem;
}
.file__list {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
}
.file__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #353232;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2px;
}
.file__dot::before {
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #353232;
  z-index: -3;
  position: absolute;
}
.file__dot--last::before {
  height: 0px;
  width: 0px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__desc h1 {
  font-size: 28px;
}
.about__desc p {
  padding-top: 1rem;
  width: 364px;
  font-size: 12px;
  line-height: 18px;
}

.foot {
  width: 100%;
  padding: 0.7rem 0rem;
  color: gray;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*# sourceMappingURL=globals.css.map */
