@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/*
Nomoran project
author: adnanmugu 
url: https://www.github/adnanmugu
adnanmugu@2024
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: black;
  background-color: white;
  max-width: 1132px;
  margin: 0 auto;
}
@media (max-width: 440px) {
  body {
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  body {
    padding: 0 1rem;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
}

button,
input {
  border: none;
  outline: none;
}

input {
  font-family: "Space Mono", monospace;
}
input:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown {
  position: relative;
}
.dropdown__menus {
  position: absolute;
  z-index: 99;
  margin-top: 0.7rem;
  color: #8b949e;
  background-color: #161b22;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #30363d;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #010409;
  transition: 0.2s ease;
}
.dropdown__menus::before {
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #30363d;
  position: absolute;
  top: -16px;
  right: 7px;
}
.dropdown__menus::after {
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #161b22;
  position: absolute;
  top: -14px;
  right: 8px;
}
.dropdown__menu {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.dropdown__menu:hover {
  transition: 0.3s;
  color: #c9d1d9;
}
.dropdown__input {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 12px;
  font-weight: 600;
  color: #8b949e;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
}
.dropdown__input:hover {
  transition: 0.3 ease;
  color: #c9d1d9;
  background-color: #30363d;
}
.dropdown__value {
  color: #c9d1d9;
  display: flex;
  align-items: center;
  gap: 4px;
}
.dropdown__value::after {
  content: "";
  margin-top: 6px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #c9d1d9;
}

.btn-outline {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: #8b949e;
  background-color: #21262d;
  border-radius: 6px;
  border: 1px solid #30363d;
  padding: 0.2rem 0.6rem;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-outline:hover {
  background-color: #161b22;
  color: #c9d1d9;
  transition: 0.3s ease;
}
.btn-outline__numb {
  background-color: #0d1117;
  padding: 1px 3px;
  border-radius: 6px;
}

.btn-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #238636;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.btn-green:hover {
  color: #ffffff;
  background-color: #2ea043;
  text-decoration: none;
  transition: 0.3s ease;
}

.verlist__wrapper {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}
.verlist__posts {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #21262d;
  padding: 0 0.5rem 0 0.7rem;
}
.verlist__posts::before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0.21rem;
  left: -0.33rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #21262d;
}
.verlist__first {
  width: 15px;
  height: 15px;
  background-color: #0d1117;
  position: absolute;
  top: -0.28rem;
  left: -0.5rem;
}
.verlist__date {
  display: flex;
  font-size: 12px;
  color: #8b949e;
  margin-bottom: 0.5rem;
}
.verlist__post-title {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #c9d1d9;
  padding-bottom: 0.5rem;
}
.verlist__post-title:hover {
  color: #58a6ff;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
@media (max-width: 440px) {
  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  #root {
    width: 100%;
    gap: 1rem;
  }
}

.container, .container--916, .container--200, .container--836, .container--280, .container--footer, .container--header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
@media (max-width: 440px) {
  .container, .container--916, .container--200, .container--836, .container--280, .container--footer, .container--header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.container--content {
  display: flex;
  background-color: red;
  gap: 1rem;
}
@media (max-width: 440px) {
  .container--content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  .container--content {
    width: 100%;
  }
}
.container--footer {
  padding-top: 2rem;
}
.container--280 {
  width: 17.5rem;
}
@media (max-width: 440px) {
  .container--280 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  .container--280 {
    width: 35%;
  }
}
.container--836 {
  width: 52.25rem;
}
@media (max-width: 440px) {
  .container--836 {
    width: 100%;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  .container--836 {
    width: 65%;
  }
}
.container--200 {
  width: 200px;
}
@media (max-width: 440px) {
  .container--200 {
    width: 100%;
  }
}
.container--916 {
  width: 916px;
}
@media (max-width: 440px) {
  .container--916 {
    width: 100%;
  }
}

.wrapper, .wrapper--singletags, .wrapper--singleabout, .wrapper--spc-between, .wrapper--row, .wrapper--col, .wrapper--col-carpo, .wrapper--col-carpo--search, .wrapper--cat, .wrapper--center, .wrapper--wrap, .wrapper--box-s {
  display: flex;
  gap: 1rem;
}
.wrapper--search {
  display: none;
}
@media (max-width: 440px) {
  .wrapper--search {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 440px) {
  .wrapper--box-s {
    display: flex;
    gap: 0;
  }
}
.wrapper--wrap {
  flex-wrap: wrap;
}
.wrapper--center {
  justify-content: center;
  align-items: center;
}
.wrapper--cat {
  gap: 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #21262d;
}
.wrapper--col-carpo, .wrapper--col-carpo--search {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 210px;
  height: 100%;
  gap: 0.2rem;
}
.wrapper--col-carpo--search {
  width: 230px;
  height: 100%;
}
@media (max-width: 440px) {
  .wrapper--col-carpo, .wrapper--col-carpo--search {
    width: 100%;
    height: 100%;
  }
}
.wrapper--col {
  gap: 0;
  flex-direction: column;
}
.wrapper--row {
  gap: 0;
}
.wrapper--spc-between {
  justify-content: space-between;
  align-items: center;
}
.wrapper--singleabout {
  gap: 0;
  width: 130px;
  flex-direction: column;
}
.wrapper--singletags {
  gap: 0;
  width: 185px;
  flex-direction: column;
}

.nav {
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 440px) {
  .nav {
    width: 100%;
  }
}
.nav__logo {
  display: flex;
}
.nav__search {
  display: inline-flex;
}
@media (max-width: 440px) {
  .nav__search {
    display: none;
  }
}
.nav__menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 440px) {
  .nav__menus {
    display: none;
  }
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.nav__link {
  color: #8b949e;
}
@media (max-width: 440px) {
  .nav__link {
    font-size: 14px;
    font-weight: 14px;
    padding: 0.4rem 0.6rem;
  }
}
.nav__link:hover {
  color: #c9d1d9;
  transition: 0.3s ease;
  text-decoration: none;
}
.nav__link--active {
  color: #c9d1d9;
}
@media (max-width: 440px) {
  .nav__link--active {
    font-size: 14px;
    font-weight: 14px;
    padding: 0.4rem 0.6rem;
  }
}
.nav__link--active:hover {
  text-decoration: none;
}
.nav__togle {
  display: none;
  position: relative;
}
@media (max-width: 440px) {
  .nav__togle {
    display: flex;
  }
}
.nav__mobile-menu {
  display: none;
}
@media (max-width: 440px) {
  .nav__mobile-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
    font-size: 14px;
    color: #8b949e;
    background-color: #161b22;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #010409;
    padding: 0.3rem 0.5rem;
  }
}
.nav__avatar {
  display: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.nav__avatar::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #56d364;
  border: 1px solid #0d1117;
}
.nav__avatar__img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.nav__login {
  font-weight: 500;
}

.foot {
  width: 100%;
  padding: 0.7rem 0rem;
  border-top: 1px solid #21262d;
  color: #8b949e;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 440px) {
  .foot {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
.foot__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.foot__menus {
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 440px) {
  .foot__menus {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
}

.dir {
  font-size: 12px;
  font-weight: 500;
  color: #8b949e;
  display: flex;
  gap: 0.3rem;
}
@media (max-width: 440px) {
  .dir {
    font-size: 12px;
    font-weight: 300;
    flex-wrap: wrap;
  }
}

.single {
  width: 100%;
  padding: 1rem;
  border: 1px solid #21262d;
  border-radius: 6px;
  display: flex;
  gap: 1rem;
}
@media (max-width: 440px) {
  .single {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 764px) and (max-width: 1209px) {
  .single {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.single__left {
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 440px) {
  .single__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.single__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single__img {
  width: 450px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 440px) {
  .single__img {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.single__img--img {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 440px) {
  .single__img--img {
    height: 100%;
    object-fit: cover;
  }
}
.single__dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single__date {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #8b949e;
  font-size: 12px;
}
.single__action {
  display: flex;
  gap: 1rem;
}
.single__title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.single__capt {
  font-size: 14px;
  margin-bottom: 0.3rem;
  color: #8b949e;
}
.single__down-btn {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.border-bot {
  border-bottom: 1px solid #21262d;
  padding-bottom: 0.3rem;
}

.gap-0 {
  gap: 0;
}

.gap-03 {
  gap: 0.3rem;
}

.text-second-13 {
  color: #8b949e;
  font-size: 13px;
}

.mr-05 {
  margin-right: 0.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.w-100 {
  width: 100%;
}

.result-posts {
  color: #58a6ff;
  font-weight: 500;
}

.mobile-none {
  display: block;
}
@media (max-width: 440px) {
  .mobile-none {
    display: none;
  }
}

.btn-link {
  color: #8b949e;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}
.btn-link:hover {
  transition: 0.3s;
  color: #c9d1d9;
}

.disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  pointer-events: none;
  color: #8b949e;
  background-color: #0f5323;
}
.disabled:hover {
  color: #8b949e;
  background-color: #0f5323;
}

.wrap {
  width: 100%;
  flex-wrap: wrap;
}

/*# sourceMappingURL=globals.css.map */
