@import '../helpers/variable';

// style reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// size large 1232px margin rl 60px
body {
  font-size: 14px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: $bgcolor;
  color: $primary-color;
  max-width: 1132px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button,
input {
  border: none;
  outline: none;
}

input {
  font-family: 'Space Mono', monospace;
  &:focus {
    outline: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary-color;
  transition: 0.2s ease;
  &:hover {
    color: $primary-color;
  }
}
