// typography

// @import url(./assets/fonts/segoe/segoe-fonts.css);
// @font-face {
//   font-family: "Segoe UI Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Segoe UI Regular"),
//     url("../fonts/segoe/Segoe\ UI.woff") format("woff");
// }

// @import "../fonts/segoe/fonts";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}
